/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 630px;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav{
  overflow: hidden;
}

nav a{
  float: left;
  font-size: 16px;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

nav a:hover, .subnav:hover .subnavbtn {
  background-color: grey;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: get;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: blue;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

/* Section Styles */
nav, section {
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    max-width: 90%;
}
footer {
    padding: 20px;
    margin: 10px auto;
    max-width: 90%;
}
.thumbnail {
    width: 100px;
    margin: 5px;
}
.larger-image {
    max-width: 600px;
}

.grid {
    -webkit-column-count: auto;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    height: -webkit-max-content;
    height: max-content;
    -webkit-column-width: 300px;
    columns: 300px;
    margin: auto;
    width: 90%;
}
