/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 630px;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav ul {
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    width: 100%;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 100%;
}



nav ul li.has-submenu > a:after {
    content: ' ▼';
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
}

nav ul ul li a {
    padding: 10px 30px;
}

nav ul ul ul li a {
    padding: 10px 40px;
}

nav ul ul li a:hover {
    background-color: #ddd;
}

nav ul li:hover > a {
    color: #007bff;
}

/* Section Styles */
nav, section {
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    max-width: 90%;
}
footer {
    padding: 20px;
    margin: 10px auto;
    max-width: 90%;
}
.thumbnail {
    width: 100px;
    margin: 5px;
}
.larger-image {
    max-width: 600px;
}

.grid {
    -webkit-column-count: auto;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    height: -webkit-max-content;
    height: max-content;
    -webkit-column-width: 300px;
    columns: 300px;
    margin: auto;
    width: 90%;
}
